
   <table id="userTripList" class="display" style="width:780px">
        <thead>
           <tr>
                <th></th>
                <th></th>
                <th>arrive</th> 
                <th>leave</th> 
                <th>staying</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
   </table>



