 <div class="tripList">
         <h2>Planned</h2>
         <ul id="items">
            <li>Europe September 2020</li>
        </ul>
        </div>
           
          <div class="tripList">
         <h2>Dreamed</h2>
         <ul id="items">
            <li>Summer 2021</li>
            <li>Spring 2020</li>
        </ul>
</div>
         
