<div id="tripContainer">

 <div class="tripList" id="plannedTripContainer">
    <h2>Going</h2>
        <ul id="items">
            <li>Europe - Summer 2020 (2,700$ / 3,500$)</li>
            <li>South America - Summer 2021 (0$ / 5,200$)</li>
        </ul>
</div>

 <div class="tripList">
         <h2>Maybes</h2>
         <ul id="items">
            <li>Across Canada with Peter and Angela -  Spring 2021</li>
            <li>Asia to Spain - 2022</li>
        </ul>
</div>
           
<div class="tripList">
         <h2>Dreams</h2>
         <ul id="items">
            <li>Asia to Spain</li>
            <li>The middle-east</li>
            <li>Iceland, Norway, Sweden, ...</li>
        </ul>
</div>

</div> 
