<div id="userPane">

        <div class="w3-bar w3-large visualCmd ">

            <button class="visualCmdIcon"><i class='fa fa-venus'></i></button>

            <button class="w3-bar-item w3-button">
            budget 
            </button> 
        
	    <button class="w3-bar-item w3-button">
          transport 
        </button> 

	    <button class="w3-bar-item w3-button">
            schedule 
        </button> 


        </div>



   <table id="userTripList" class="display">
        <thead>
           <tr>
           <th>spot</th>
           <th>when</th> 
           <th>staying</th>
           </tr>
        </thead>
        <tr>
            <td>Venice</td>
            <td>21 June</td>
            <td>Marco's</td>
        </tr>
        <tr>
            <td>Berlin</td>
            <td>25 June</td>
            <td>4 Seasons</td>
        </tr>
        <tr>
            <td>Prague</td>
            <td>28 June</td>
            <td>Hostel...</td>
        </tr>
        <tr>
            <td>Bologna</td>
            <td>01 july</td>
            <td>friends</td>
        </tr>
   </table>

    <div id="visual">

        <div class="w3-bar w3-large visualCmd">

        <button class="visualCmdIcon"><i class='fas fa-suitcase'></i></button>

        <button class="w3-bar-item w3-button">
          transport 
        </button> 
        
	    <button class="w3-bar-item w3-button">
          stay      
        </button> 

	    <button class="w3-bar-item w3-button">
          eat 
        </button> 

	    <button class="w3-bar-item w3-button">
         friends 
        </button> 


        </div>


        <div id="visualCanvas"> 

        </div>
    </div>



</div> 
 
