<div id="userPane">

    <h1> Selected: </h1>   
    <table id="userTripList" class="display">
        <thead>
           <tr>
           <th>trip name</th>
           <th>countries</th> 
           <th>cost (estimated)</th>
           <th>leaving</th>
           <th>duration (estimated)</th>
           </tr>
        </thead>
        <tr>
            <td>summer 2020</td>
            <td>8</td>
            <td>3,004$</td>
            <td>21 June 2020</td>
            <td>3 weeks</td>
        </tr>
        <tr>
            <td>spring break 2020</td>
            <td>1</td>
            <td>2,004$</td>
            <td>25 March 2020</td>
            <td>4 days</td>
        </tr>
   </table>

    <div id="visual">
        <h1>visualize</h1>
        <div id="demo-canvas"> 
        </div>
    </div>
</div> 
 
