<div id="userPane">

    <button id='btnNewTrip' class="w3-button w3-block">Create a new trip</button>
   
    <table class="w3-table" id="tripList">
        <tr>
           <th>trip name</th>
           <th>countries</th> 
           <th>cost (estimated)</th>
           <th>leaving</th>
           <th>duration (estimated)</th>
        </tr>
        <tr>
            <td>summer 2020</td>
            <td>8</td>
            <td>3,004$</td>
            <td>21 June 2020</td>
            <td>3 weeks</td>
        </tr>
        <tr>
            <td>spring break 2020</td>
            <td>1</td>
            <td>2,004$</td>
            <td>25 March 2020</td>
            <td>4 days</td>
        </tr>
   </table>

    <div id="demo-canvas"> 
    </div>
</div> 
 
