<div id="userPane">

    <h1 id="debugClick"> Selected: </h1>   
    <table id="userTripList" class="display">
        <thead>
           <tr>
           <th>spot</th>
           <th>when</th> 
           <th>staying</th>
           </tr>
        </thead>
        <tr>
            <td>Venice</td>
            <td>21 June</td>
            <td>Marco's</td>
        </tr>
        <tr>
            <td>Berlin</td>
            <td>25 June</td>
            <td>4 Seasons</td>
        </tr>
        <tr>
            <td>Prague</td>
            <td>28 June</td>
            <td>Hostel...</td>
        </tr>
        <tr>
            <td>Bologna</td>
            <td>01 july</td>
            <td>friends</td>
        </tr>
   </table>

    <div id="visual">
        <h1>visualize</h1>
        <div id="visualCanvas"> 

        </div>
    </div>
</div> 
 
