    <div id="visual">

        <div class="w3-bar w3-large visualCmd">

        <button class="visualCmdIcon"><i class='fas fa-suitcase'></i></button>

        <button class="w3-bar-item w3-button">
          transport 
        </button> 
        
	    <button class="w3-bar-item w3-button">
          stay      
        </button> 

	    <button class="w3-bar-item w3-button">
          eat 
        </button> 

	    <button class="w3-bar-item w3-button">
         friends 
        </button> 


        </div>


        <div id="visualCanvas"> 

        </div>

    </div>


