<!DOCTYPE html>
<html>

<!--
 * WeirdWorld - By FranckEinstein90
 * 20200000000000000000000000000000
 *
 * entry point
 *
-->

<head>
    {{>head}}    
</head>

<body>

{{>modal}}

<div id='console' style="display:none; color:lime; position:absolute; width: 300px; height: 300px; z-index:10; background-color:black">
</div>


<div id='topNav'>{{>nav/topNav}}</div>
<div id='bottomNav'></div>
    {{{body}}}
<div id='content'>
</div>

{{>scripts/scripts}}
</body>
</html>
