<!DOCTYPE html>
<html>
<!------------------------------------
 * WeirdWorld - By FranckEinstein90
 * 20200000000000000000000000000000
 *
 * entry point
 *
------------------------------------->

<head>
    {{>head}}    
</head>

<body>

{{>modal}}
<div id='topNav'>{{>nav/topNav}}</div>
<div id='bottomNav'></div>
    {{{body}}}
<div id='content'>
</div>

{{>scripts/scripts}}
</body>
</html>
