
<!-- Header -->

   <header class="w3-container"> 
     <div class="w3-panel content">
    </div>
   </header>


    <div class="w3-container" id='topPanel'>
        {{>forms/discover}}
    </div>

   <div class="flex-container"> 
            <div id="demo-canvas"> 
            </div>
          
            <div id="discoverPane">
               {{>countryCards}}
            </div>
    </div>

