<div class="w3-container w3-blue">

<form class="w3-container">
  <p>
  <label>user name or email</label>
  <input class="w3-input" type="text"></p>
  <p>
  <label>password</label>
  <input class="w3-input" type="text"></p>  
  <button class="w3-btn w3-red block" id="btnLogin">login</button>
</form>
</div>