

<!-- The Modal -->

    <div class="w3-bar w3-top w3-large topNav "> 
        <a id="btnLoginOrRegister">Login or register</a>
    </div>

    {{>nav/leftNav}}

    <div class="content" id="viewPort">

        <div class="flex-container"> 

           {{>userPane}}
           <div id="rightPane">
           {{>trips}}  

                <div class="w3-container" id='topPanel'>
                    {{>forms/discover}}
                </div>

               <div id="discover">
               {{>countryCards}}
               </div>
            </div>
    </div>
</div>

    {{>scripts/scripts}}
    

