

{{>nav/topNav}}
{{>nav/leftNav}}

<div class="content" id="viewPort">
    <div class="flex-container"> 

           {{>userPane}}

           <div id="rightPane">

                {{>trips}}  

                <div class="w3-container" id='topPanel'>
                    {{>forms/discover}}
                </div>

                <div id="discover">
                {{>countryCards}}
               </div>

           </div>

    </div>
</div>

{{>scripts/scripts}}
    

