.sidebar {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  color: var(--crash);  
  width: 200px;
  background-color: var(--sky); 
  border-left: 10px inset var(--pop); 
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 4px 4px; 

}

.sidebar a {
  display: block;
  color: var(--crash);
  padding-top: 40px; 
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: var(--pop);
  color: var(--pop);
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar P{
    color:var(--main); 
    font-weight:bold; 
    font-size: 1.3em;
}

.leftNavIcon{
    padding-top: 40px; 
    color: var(--main);
    padding-right:3px; 
    box-shadow: 0px 1px; 
}


