:root{
    --main: rgba(221, 220, 198, 0.986);
    --pop: #009494; 
    --snaple: #F70000;
    --crash: #f77000;
    --sky: #3358AF;
}

html {
    scroll-behavior: smooth;
}

html,body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif;
}

body{
  background-color: var(--main);
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  padding-top: 40px; 
  width: 400px;
  background-color: #009494; 
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar P{
    color:#990000; 
    font-weight:bold; 
    font-size: 1.3em;
}

.leftNavIcon{
   color: var(--main);
}

.topNav{
    background-color: #990000; 
    color: var(--main);
    z-index:4;
    height:45px; 
    display: none;
    padding-left:20px;
}

.topNav a {
  display: block;
  padding-top:10px;
  text-decoration: underline;
  cursor: pointer; 
}
 
.topNav sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.topNav sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


div.content {
  margin-left: 400px;
  padding: 1px 16px;
  height: 1000px;
}

#userPane{
  flex:50%;
  max-width:100%;
  padding-right:10px; 
  height:800px;
  font-size:19px; 
}


@media screen and (max-width: 1200px) {
  .sidebar {
    display:none;
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .topNav {
    display:block; 
  }
  div.content {margin-left: 0px;}
}

@media screen and (max-width: 1200px) {
   .sidebar a {
    text-align: center;
    float: none;
  }
}

.flex-container {
  margin-top:45px;
  width:100%; 
  display:flex; 
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;  
  align-items: stretch; 
}
#demo-canvas{
    height:800px; 
}
#discoverPane{
  flex:50%; 
  max-width:100%; 
}
.hidden{
  display: none; 
  opacity: 0; 
}

.topPanel{
  padding-top:10px;
}

#findCountryButton{
  margin-top:10px;
  background-color: var(--main);
  color: var(--crash);
  font-size:2em;
  border: black 1px inset;
}

#findCountryInput{
  font-size:2em;
  margin-top:5px;
  border-top: var(--sky) 1px inset; 
  border-bottom: black 1px inset;
}

#formDiscover{
  z-index: 5;
}

.content H1{
    color:#172568;
    font-family:Bangers;
    font-size: 3.3em;
    letter-spacing:4px;
}
.countryCard {
    cursor: pointer;
    padding-right:20px; 
    padding-bottom:10px; 
    text-align:right;
    color: var(--main);
    width:100%;
}

.countryCard:hover {
  background-color: var(--crash);
  color:var(--sky)
}
.discovered {
  background-color: var(--sky); 
}
.selected {
  background-color: var(--snaple); 
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .tenantSelection{
    width:120px; 
    text-align:right 
  }

 .groupCmd {
    cursor: pointer
 }

.settingsItem {
  cursor: pointer
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
