
        <button id='findCountryButton' class="w3-button w3-block">find new spots</button>
        <center>
        <input id='findCountryInput' class="w3-input w3-block w3-animate-input" type="text" style="width:40%">
        </center>
