
<button id='findCountryButton' class="w3-button w3-block">Discover</button>
<center>

    <input id='findCountryInput' 
    class="w3-input w3-block w3-animate-input" 
    type="text">

</center>
