
<button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
<i class="fa fa-bars"></i>  Menu
</button>
    
<table>
<tr>
<td> 
<button id="btnLogin">
members
</button> 
   </td>
<td>     
<button id="requestInvite">
invite me
</button> 
</td>
</tr>
</table>



